<a href="https://colab.research.google.com/github/brandiehatch/capstone/blob/main/01_data_collection_capstone_New.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Census Data Collection

https://pypi.org/project/census/

In [ ]:
# pip install census
# pip install us

In [3]:
# from census import Census
# from us import states
import json
import csv
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

import os

%matplotlib inline


plt.style.use('fivethirtyeight')

# No warnings
import warnings 
warnings.simplefilter("ignore")

pd.options.display.max_columns=999

In [2]:
data = requests.get('https://api.census.gov/data/2019/acs/acs1/pums?get=AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK&for=state&key=5c0093e6278fbed87e613713b22afcf5a24226eb')
# pulled only 2019 data to start working with the EDA and possibly modeling

In [3]:
df = pd.DataFrame(data=data.json())
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37
0,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,P,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,21,1,2,0,1,113021,0,0,2,0,4

In [4]:
df.shape

(3239554, 38)

In [6]:
# first row to column headers
df.columns = df.iloc[0]

In [7]:
df.head()

,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
0,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,P,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,21,1,2,0,1,113021,0,0,2,0,4

In [8]:
df.drop(0)

,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,P,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,21,1,2,0,1,113021,0,0,2,0,4
5,18,1,1,0,6,0,2,5,0,-1,4110,6000,-1,1,1,1,0,0,0,0,1,0,0,1,P,2,15,16,0,0,0,2,353031,6000,0,1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3239549,30,1,7,0,1,0,2,1,1,0,4965,150000,501,1,1,1,0,0,0,0,1,0,0,1,P,1,0,21,2,2,0,1,419099,150000,5,1,1,6
3239550,30,1,6,1,1,0,1,1,1,0,4251,27000,501,1,1,1,0,0,0,0,1,0,0,1,P,1,0,18,0,0,27000,1,373011,0,1,1,1,37
3239551,30,1,1,1,1,0,1,1,1,0,5120,75000,501,1,1,1,0,0,0,0,1,0,0,1,P,1,0,12,0,0,0,2,433031,75000,1,1,1,37
3239552,26,1,1,0,1,0,2,1,1,0,7315,57000,501,1,1,1,0,0,0,0,1,0,0,1,P,1,0,20,0,0,0,1,499021,57000,1,1,1,48
3239553,26,1,1,0,1,0,2,1,1,0,3500,55000,501,1,1,1,0,0,0,0,1,0,0,1,P,1,0,19,0,0,0,2,292061,55000,1,1,1,48

In [59]:
df.to_csv('../capstone/data/data.csv', index=False)

In [4]:
df = pd.read_csv('./data/data.csv', index_col='0')

In [5]:
df.head()

,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,RT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,P,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,P,1,0,21,1,2,0,1,113021,0,0,2,0,4
5,18,1,1,0,6,0,2,5,0,-1,4110,6000,-1,1,1,1,0,0,0,0,1,0,0,1,P,2,15,16,0,0,0,2,353031,6000,0,1,2,6

In [6]:
df.isnull().sum().sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3239553 entries, 1 to 3239553
Data columns (total 38 columns):
 #   Column     Dtype
---  ------     -----
 0   AGEP       int64
 1   CIT        int64
 2   COW        int64
 3   ENG        int64
 4   ESR        int64
 5   FFSP       int64
 6   LANX       int64
 7   MAR        int64
 8   MULTG      int64
 9   NOC        int64
 10  OCCP       int64
 11  PINCP      int64
 12  POVPIP     int64
 13  RAC1P      int64
 14  RAC2P      int64
 15  RAC3P      int64
 16  RACAIAN    int64
 17  RACASN     int64
 18  RACBLK     int64
 19  RACNH      int64
 20  RACNUM     int64
 21  RACPI      int64
 22  RACSOR     int64
 23  RACWHT     int64
 24  RT         object
 25  SCH        int64
 26  SCHG       int64
 27  SCHL       int64
 28  SCIENGP    int64
 29  SCIENGRLP  int64
 30  SEMP       int64
 31  SEX        int64
 32  SOCP       object
 33  WAGP       int64
 34  WKEXREL    int64
 35  WKL        int64
 36  WRK        int64
 37  state      int64
dtypes: int64(36), object(2)
memory usage: 963.9+ MB

In [8]:
print(df['RT'].unique())

['P']

In [9]:
# Removing Column RT which is the Record Type. All of the records that have been pulled are recorded with a P for Personal Record. Because the full column lists P, it is no longer needed.
df = df.drop(columns=['RT'])
df.head()

,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,state
0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,1,0,21,1,2,0,1,113021,0,0,2,0,4
5,18,1,1,0,6,0,2,5,0,-1,4110,6000,-1,1,1,1,0,0,0,0,1,0,0,1,2,15,16,0,0,0,2,353031,6000,0,1,2,6

In [10]:
# Choosing to keep column SOCP for now even though the dtype is listed as an Object. 
# The dtype is Object because the main heading of each occupation starts with a four digit number and ends with XX. The XX is a sub-label.
# For example, MGR - Chief Executive and Legislators is 1110XX, while MGR-General And Operations Managers is 111021.
# More information can be found here: https://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMS_Data_Dictionary_2016-2020.csv 
# Standard Occupational Classification 
print(df['SOCP'].unique())

['472050' '-1' '412021' '113021' '353031' '37201X' '352010' '537051'
 '434121' '373011' '412010' '454011' '359011' '559830' '471011' '393031'
 '31909X' '333050' '999920' '533030' '412031' '552010' '17302X' '4740XX'
 '472140' '5350XX' '352021' '397010' '353023' '519061' '553010' '339030'
 '513093' '132082' '351011' '472061' '519195' '433031' '537065' '399011'
 '172041' '119013' '434051' '399041' '353041' '292034' '436014' '372012'
 '254031' '5120XX' '513020' '413021' '359031' '212011' '1940YY' '151252'
 '537064' '399032' '292043' '514XXX' '395092' '4520XX' '439XXX' '536021'
 '4750XX' '472XXX' '251000' '5191XX' '351012' '172110' '252030' '119051'
 '493023' '439061' '211093' '119021' '359021' '212099' '537062' '253041'
 '259040' '272023' '439021' '472031' '2530XX' '112021' '211014' '1721YY'
 '514120' '194031' '33909X' '513011' '493021' '516011' '515112' '537061'
 '319094' '399099' '252010' '272022' '119030' '5340XX' '474031' '131070'
 '111021' '311131' '3930XX' '173031' '473010' '434171' '411011' '535020'
 '1191XX' '472040' '331012' '254010' '131121' '49904X' '472152' '419099'
 '212021' '311122' '395011' '472111' '113061' '4330XX' '372021' '273011'
 '472181' '291141' '434XXX' '419041' '399031' '419091' '536030' '131023'
 '391000' '551010' '39509X' '435061' '2740XX' '273043' '518021' '519120'
 '519030' '513092' '411012' '292042' '353011' '435111' '414010' '192041'
 '371012' '537081' '211022' '4990XX' '271010' '311121' '232011' '151251'
 '492091' '434111' '491011' '119070' '493011' '211015' '519198' '151299'
 '533054' '472070' '319092' '434071' '5170XX' '332011' '2590XX' '273091'
 '514050' '172051' '499071' '435071' '131081' '439051' '232099' '419010'
 '413091' '452041' '119151' '292061' '392021' '173023' '132020' '519111'
 '5371XX' '392011' '533099' '292052' '232093' '512020' '151230' '211019'
 '292053' '519020' '272012' '514033' '151255' '131151' '514031' '519196'
 '49209X' '5140XX' '292056' '516021' '319091' '271024' '31113X' '272042'
 '516031' '131199' '395012' '371011' '413011' '172141' '439071' '15124X'
 '119111' '472080' '433021' '499021' '1110XX' '292010' '434161' '252020'
 '475040' '312010' '492097' '254022' '493031' '514041' '431011' '518010'
 '434181' '433071' '273023' '511011' '51403X' '1910XX' '393010' '439041'
 '331011' '516050' '537063' '211029' '439022' '493040' '373013' '151241'
 '499098' '472211' '17301X' '131161' '519160' '274021' '454020' '513099'
 '27102X' '211012' '37301X' '475032' '113031' '434141' '173011' '131131'
 '132011' '434YYY' '531000' '413031' '195010' '435011' '274030' '516060'
 '533052' '273031' '119141' '211013' '435021' '419020' '151212' '472121'
 '492020' '131011' '272011' '131111' '272091' '132051' '119081' '472221'
 '29205X' '434081' '211092' '436012' '453031' '131022' '499096' '472151'
 '194010' '492011' '439111' '451011' '519080' '433011' '432099' '1930XX'
 '272099' '21109X' '517042' '271025' '516093' '333012' '519151' '536051'
 '194021' '151221' '112022' '291210' '272030' '499091' '514111' '131082'
 '151244' '412022' '472130' '273041' '151254' '499031' '151211' '434131'
 '1520XX' '172070' '319097' '359099' '435031' '331090' '3330XX' '193011'
 '2310XX' '517041' '532010' '533053' '474051' '131141' '493090' '472161'
 '172011' '518031' '499052' '192099' '537070' '536061' '339091' '493050'
 '292072' '435052' '319096' '534031' '29112X' '515111' '435053' '191020'
 '171011' '131041' '211011' '299000' '292055' '396010' '472231' '499044'
 '132052' '499010' '474041' '516040' '132070' '172061' '113071' '319095'
 '291031' '271021' '517011' '312020' '433051' '113013' '515113' '436011'
 '1720XX' '131051' '273092' '292090' '499094' '271026' '272021' '435032'
 '532031' '499043' '434041' '339094' '518090' '519191' '492092' '435051'
 '519041' '132081' '434061' '273042' '291051' '1721XX' '499060' '432021'
 '439081' '413041' '513091' '4750YY' '474011' '435041' '272041' '537021'
 '339093' '271022' '472011' '5370XX' '113051' '1320XX' '517021' '512041'
 '499051' '332020' '291123' '291292' '292031' '532020' '514020' '192030'
 '112011' '533051' '231012' '534010' '291125' '291071' '291181' '519010'
 '132031' '492098' '292035' '252050' '151253' '273099' '1940XX' '474021'
 '152031' '394031' '475020' '132053' '29203X' '291122' '171012' '436013'
 '113121' '292081' '395094' '131030' '291127' '5360XX' '331021' '152011'
 '291020' '172131' '19303X' '113131' '432011' '192010' '292032' '434031'
 '291240' '519051' '132041' '291126' '291131' '291011' '291151' '19204X'
 '112030' '113012' '319011' '519071' '192021' '333021' '119041' '119161'
 '2911XX' '191030' '193051' '419031' '512031' '172081' '291124' '3940XX'
 '211021' '171020' '131021' '211023' '132061' '339021' '433061' '291041'
 '291291' '193034' '333011' '51609X' '191010' '193033' '119121' '291299'
 '271023' '493022' '452011' '291081' '113111' '172121' '474061' '519197'
 '339011' '533011' '519194']

In [11]:
df.shape

(3239553, 37)

This data set includes 37 variables and 3,239,553 observations.

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
AGEP,3239553.0,42.224377,23.803392,0.0,22.0,43.0,62.0,96.0
CIT,3239553.0,1.423484,1.124021,1.0,1.0,1.0,1.0,5.0
COW,3239553.0,1.273874,1.805155,0.0,0.0,1.0,1.0,9.0
ENG,3239553.0,0.273249,0.702459,0.0,0.0,0.0,0.0,4.0
ESR,3239553.0,2.549088,2.491764,0.0,1.0,1.0,6.0,6.0
FFSP,3239553.0,0.023561,0.151678,0.0,0.0,0.0,0.0,1.0
LANX,3239553.0,1.729676,0.543544,0.0,2.0,2.0,2.0,2.0
MAR,3239553.0,2.914115,1.850704,1.0,1.0,3.0,5.0,5.0
MULTG,3239553.0,1.026430,0.345185,0.0,1.0,1.0,1.0,2.0
NOC,3239553.0,0.725370,1.265445,-1.0,0.0,0.0,1.0,14.0
OCCP,3239553.0,2479.357133,2916.251854,9.0,9.0,910.0,4700.0,9920.0
PINCP,3239553.0,34740.882807,66519.262540,-19999.0,0.0,19800.0,50000.0,1629000.0
POVPIP,3239553.0,319.441498,172.569554,-1.0,173.0,345.0,501.0,501.0
RAC1P,3239553.0,1.903512,2.127218,1.0,1.0,1.0,1.0,9.0
RAC2P,3239553.0,8.304482,19.109228,1.0,1.0,1.0,1.0,68.0
RAC3P,3239553.0,2.869671,6.897465,1.0,1.0,1.0,1.0,100.0
RACAIAN,3239553.0,0.018187,0.133629,0.0,0.0,0.0,0.0,1.0
RACASN,3239553.0,0.066984,0.249994,0.0,0.0,0.0,0.0,1.0
RACBLK,3239553.0,0.105069,0.306642,0.0,0.0,0.0,0.0,1.0
RACNH,3239553.0,0.001957,0.044195,0.0,0.0,0.0,0.0,1.0
RACNUM,3239553.0,1.034327,0.199927,1.0,1.0,1.0,1.0,6.0
RACPI,3239553.0,0.002221,0.047072,0.0,0.0,0.0,0.0,1.0
RACSOR,3239553.0,0.040818,0.197868,0.0,0.0,0.0,0.0,1.0
RACWHT,3239553.0,0.799229,0.400577,0.0,1.0,1.0,1.0,1.0
SCH,3239553.0,1.241113,0.569920,0.0,1.0,1.0,1.0,3.0
SCHG,3239553.0,2.217499,4.704954,0.0,0.0,0.0,0.0,16.0
SCHL,3239553.0,15.813978,6.138674,0.0,14.0,17.0,21.0,24.0
SCIENGP,3239553.0,0.416605,0.751722,0.0,0.0,0.0,1.0,2.0
SCIENGRLP,3239553.0,0.483513,0.839992,0.0,0.0,0.0,1.0,2.0
SEMP,3239553.0,220.068593,17880.834243,-10001.0,0.0,0.0,0.0,511000.0
SEX,3239553.0,1.509706,0.499906,1.0,1.0,2.0,2.0,2.0
WAGP,3239553.0,26618.603576,54670.521715,-1.0,0.0,0.0,36900.0,717000.0
WKEXREL,3239553.0,4.730729,4.781380,0.0,1.0,3.0,9.0,15.0
WKL,3239553.0,1.368341,1.026016,0.0,1.0,1.0,2.0,3.0
WRK,3239553.0,1.034975,0.753133,0.0,0.0,1.0,2.0,2.0
state,3239553.0,27.738196,16.098670,1.0,12.0,27.0,42.0,56.0

In [15]:
df = df.rename(columns={'state' : 'STATE'})
df.head()

,AGEP,CIT,COW,ENG,ESR,FFSP,LANX,MAR,MULTG,NOC,OCCP,PINCP,POVPIP,RAC1P,RAC2P,RAC3P,RACAIAN,RACASN,RACBLK,RACNH,RACNUM,RACPI,RACSOR,RACWHT,SCH,SCHG,SCHL,SCIENGP,SCIENGRLP,SEMP,SEX,SOCP,WAGP,WKEXREL,WKL,WRK,STATE
0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,35,1,1,0,6,0,2,1,0,-1,6250,63000,-1,1,1,1,0,0,0,0,1,0,0,1,1,0,17,0,0,0,1,472050,63000,0,1,0,18
2,25,1,0,0,6,0,2,5,0,-1,9,0,-1,1,1,1,0,0,0,0,1,0,0,1,1,0,12,0,0,0,1,-1,0,0,3,0,48
3,21,5,2,0,1,0,2,5,0,-1,4740,2000,-1,6,53,10,0,1,0,0,1,0,0,0,3,15,19,0,0,0,2,412021,2000,0,1,0,18
4,49,1,1,0,6,0,2,3,0,-1,110,0,-1,1,1,1,0,0,0,0,1,0,0,1,1,0,21,1,2,0,1,113021,0,0,2,0,4
5,18,1,1,0,6,0,2,5,0,-1,4110,6000,-1,1,1,1,0,0,0,0,1,0,0,1,2,15,16,0,0,0,2,353031,6000,0,1,2,6

In [16]:
df.columns
# print out to start Data Dictionary

Index(['AGEP', 'CIT', 'COW', 'ENG', 'ESR', 'FFSP', 'LANX', 'MAR', 'MULTG',
       'NOC', 'OCCP', 'PINCP', 'POVPIP', 'RAC1P', 'RAC2P', 'RAC3P', 'RACAIAN',
       'RACASN', 'RACBLK', 'RACNH', 'RACNUM', 'RACPI', 'RACSOR', 'RACWHT',
       'SCH', 'SCHG', 'SCHL', 'SCIENGP', 'SCIENGRLP', 'SEMP', 'SEX', 'SOCP',
       'WAGP', 'WKEXREL', 'WKL', 'WRK', 'STATE'],
      dtype='object')